body {
  margin: 0;
  padding: 0;
}


/*Header*/

.header {
  display: grid;
}

.bg__image {
  display: block;
  margin-top: -3rem;
  margin-left: 0rem;
  margin-bottom: 50rem;
  width: 100%;
}

.logo__header {
  position: absolute;
  top: 4rem;
  left: 14rem;
}

.ellipse__logo {
  position: absolute;
  top: 2rem;
  left: 8rem;
  text-align: center;
  color: white;
}

.logo__text {
  position: absolute;
  bottom: 2px;
  top: 0.6rem;
  left: 9.5rem;
  color: white;
  font-size: 45px;
  font-weight: 500;
}

/*Menu Header*/

.menu__header {
  display: flex;
  color: white;
  justify-content: space-evenly;
  top: 4rem;
  right: 8rem;
  width: 35rem;
  position: absolute;
  font-weight: 700;
}

/*Main Header*/

.header__content {
  display: block;
}

.main__header {
  display: block;
  position: absolute;
  color: white;
  width: 68rem;
  bottom: 20rem;
  left: 18rem;

  font-size: 3.5rem;
}

.header__text {
  display: block;
  color: white;
  position: absolute;
  width: 48rem;
  bottom: 17rem;
  left: 23rem;
  text-align: center;
  font-size: 17px;
}

.btn__header {
  display: block;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-left: 37rem;
  margin-top: -60rem;
  padding: 20px 30px;
  font-size: 22px;
  cursor: pointer;
}

/*Middle Section*/

.middle__content {
  display: grid;
}

.middle__title {
  display: block;
  position: relative;
  text-align: center;
  margin-top: -35rem;
  margin-left: 18rem;
  font-size: 40px;
  width: 55rem;
}

.middle__rectangle {
  display: block;
  margin-left: 39rem;
  margin-top: -25rem;
  height: 5px;
  width: 12.8rem;
}

.middle_text {
  display: block;
  position: relative;
  text-align: center;
  top: -23rem;
  margin-left: 23rem;
  font-size: 17px;
  width: 45rem;
}

.btn__middle {
  position: absolute;
  color: white;
  background-color: rgb(31, 194, 121);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  width: 15rem;
  height: 4rem;
  margin-left: 38rem;
  margin-top: -15rem;
  cursor: pointer;
}


/*About Section*/

.about__section {
  display: block;
  background-color: gray;
  height: 20rem;
  margin-bottom: 20rem;
  margin-top: -8rem;
}

.about__title {
  display: block;
  color: white;
  font-size: 46px;
  padding-top: 4rem;
  padding-left: 3rem;
}

.about__rectangle {
  display: block;
  padding-left: 50px;
  padding-top: 35px;
}

.about__text {
  display: block;
  color: rgb(218, 218, 218);
  width: 64rem;
  padding-left: 28rem;
  margin-top: -6rem;
  line-height: 1.5;
}

/*Services Section*/

.services__title {
  display: block;
  font-size: 45px;
  margin-left: 10rem;
  margin-top: -11rem;
}

.services__rectangle {
  display: block;
  padding-left: 10.1rem;
  padding-top: 35px;
  margin-bottom: 5rem;
}

.monitor {
  display: grid;
  text-align: center;
  margin-left: 8rem;
  margin-bottom: 20rem;
  height: 15rem;
  width: 22rem;
}

.monitor__img {
  display: block;
  padding-left: 9rem;
}

.monitor__title {
  display: block;
  font-size: 25px;
}


.tool {
  display: grid;
  text-align: center;
  margin-left: 40rem;
  margin-bottom: 20rem;
  margin-top: -35rem;
  height: 15rem;
  width: 22rem;
}

.tool__img {
  display: block;
  padding-left: 9rem;
}

.tool__title {
  display: block;
  font-size: 25px;
}


.web {
  display: grid;
  text-align: center;
  margin-left: 70rem;
  margin-bottom: 20rem;
  margin-top: -35rem;
  height: 15rem;
  width: 22rem;
}

.web__img {
  display: block;
  padding-left: 9rem;
}

.web__title {
  display: block;
  font-size: 25px;
}


.wordpress {
  display: grid;
  text-align: center;
  margin-left: 8rem;
  margin-bottom: 10rem;
  margin-top: -18rem;
  height: 15rem;
  width: 22rem;
}

.wordpress__img {
  display: block;
  padding-left: 9rem;
}

.wordpress__title {
  display: block;
  font-size: 25px;
}

.joomla {
  display: grid;
  text-align: center;
  margin-left: 40rem;
  margin-bottom: 20rem;
  margin-top: -25rem;
  height: 15rem;
  width: 22rem;
}

.joomla__img {
  display: block;
  padding-left: 9rem;
}

.joomla__title {
  display: block;
  font-size: 25px;
}

.appDesign {
  display: grid;
  text-align: center;
  margin-left: 70rem;
  margin-bottom: 20rem;
  margin-top: -35rem;
  height: 15rem;
  width: 22rem;
}

.appDesign__img {
  display: block;
  padding-left: 9rem;
}

.appDesign__title {
  display: block;
  font-size: 25px;
}

/*Footer*/

.footer {
  display: block;
  background: gray;
  height: 4.5rem;
  margin-bottom: -8rem;
  margin-top: -14rem;
}

.footer__content {
  color: white;
  font-size: 19px;
  padding-left: 3rem;
  padding-top: 1.5rem;
}

.footer__arrow {
  color: white;
  text-align: right;
  padding-right: 20px;
  margin-top: -50px;
  margin-right: 40px;
  font-size: 40px;
  cursor: pointer;
}